@import './base.css';

#app {
  margin: 0;
  height: 100vh;

  font-weight: normal;
}

input,
textarea {
  all: unset;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.4s;
}

[contenteditable]:focus {
  outline: none;
}

[contenteditable][placeholder]:empty::before {
  content: attr(placeholder);
  color: var(--color-text);
  opacity: 0.5;
  cursor: text;
}
